<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant AKB</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#DB0000"/>
    <meta name="description" content="Restaurant AKB" />
    <meta name="keywords" content="dicoding" />
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="apple-touch-icon" href="./images/favicon.ico">
    <link rel="manifest" href="app.webmanifest">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  </head>
  <body>
    <!-- skip-link -->
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <!-- header -->
    <header class="hero">
      <!-- nav -->
      <nav>
        <div class="menu-hp">
          <div>
            <a href="/" class="logo-font"> Resto </a>
          </div>

          <div class="menu-container">
            <button class="menu" aria-label="button menu dropdown on mobile" type="button" >
              <span class="fa fa-bars"></span>
            </button>
          </div>
        </div>

        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="#/favorit">Favorite</a></li>
          <li class="nav-item">
            <a
              href="https://id.linkedin.com/in/mmujiono"
              target="_blank"
              rel="noopener noreferrer"
              >About</a
            >
          </li>
        </ul>
      </nav>

      <!-- hero content -->
      <div tabindex="0" class="hero__text">
        <h1 class="hero_title">Selamat datang di Resto AKB</h1>

        <p class="hero_subtitle">
          Jelajahi restoran AKB di berbagai tempat, Harga lokal kualitas
          internasional
        </p>

        <a href="#main-content" class="hero_btn">Read More</a>
      </div>
    </header>

    <!-- main content -->
    <main>
      <div id="main-content" class="main-content__container">
        <h2 tabindex="0" class="main-content__title">Explore Restourant</h2>
        <section id="explore-restaurant"></section>
      </div>
    </main>

    <!-- footer -->
    <footer tabindex="0">
      <ul>
        <!-- <div id="footerTools">
          <button id="subscribePushNotification" class="btn">Subscribe Push Notification</button>
          <button id="unsubscribePushNotification" class="btn">Unsubscribe Push Notification</button>
        </div> -->
        <li>Copyright © 2024 - Resto AKB</li>
      </ul>
    </footer>
  </body>
</html>
